.add-question-container{
    background-image: url('../../assets/karthik-balakrishnan-NrS53eUKgiE-unsplash.jpg');
    height: 100vh;
    width: 100%;
    position: fixed;
    font-family: 'Lato', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

.add-questions-card-container{
    padding:10px;
    padding-top:60px;
    border-radius: 10px;
    background-color: #fff;
    width: 60%;
    margin: auto;
    margin-left: 25%;
    text-align: center;
    margin-top:80px;
    -webkit-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
}

.example-full-width {
    width: 80%;
}

.answers-container{
 border-radius: 5px;
 padding:5px;
 height: 300px;
 overflow-y: scroll;

}

.new-question-header{
    font-size: 1.4rem;
    font-weight: bold;

}


.is-correct-checkbox{
    text-align: left;
    margin-left: 100px;
}
.answer-container{
    padding:10px;
    background-color: rgb(244, 243, 243);
    width: 80%;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;

}

.submit-btn{
    margin-top: 20px;
    padding:15px;
    border: none;
    border-radius: 10px;
    color:#fff;
    font-weight: bold;
    font-size: 1.1rem;
    background-color: rgb(0, 199, 0);
}

.submit-btn:disabled{
    background-color: rgb(160, 245, 160);
}

.submit-btn:disabled:hover{
    cursor: auto;
}

.submit-btn:hover{
    cursor: pointer;
}

.cancel{
    background-color: blue;
}

.button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.answers{
    margin-top:20px;
    padding:10px;
    font-size: 1.4rem;
}

.answer-card{
    margin-top:2px;
    margin-bottom:2px;
    padding:20px;
    border:1px solid #d0d0d0;
    border-radius: 5px;
}

.correct-answer{
    background-color: rgb(198, 255, 198);
}

@media screen and (max-width:1000px){
    .add-questions-card-container{
        width: 95%;
        margin-left: 5px;
    }
}