<div class="all-tasks"> 
    <app-side-nav></app-side-nav>
    <div class="all-tasks-container">
        <div class="card-header">
            <p>Întrebările adăugate</p> 
        </div>  
        <div class="search-container">
            <input type="text" name="search" placeholder="Search..." class="search-input">
            <a href="#" class="search-btn">
                <fa-icon [icon]="faMagnifyingGlass" class="icon-container"></fa-icon> 
            </a>
        </div>
        <div class="card-body">
            <div class="question-card">
                <p>Titlul întrebării</p>
                <p class="not-displayed">Nr răspunsuri corecte</p>
                <p class="not-displayed">Data adăugării</p> 
                <div class="question-card-tools">
                    Opțiunii 
                </div>
            </div>
            <div class="loading-container" *ngIf="loading">
                <div class="loading-spinner"></div>
              </div>
            <div class="question-card-container" *ngIf="!loading">
                <app-question-card  *ngFor="let question of filteredQuestions" [refreshData]="fetchAllQuestions" [thisReference]="reference" [question]="question"></app-question-card>  
            </div>    
        </div> 
        <div class="btn-container">
            <button class="delete-all-btn" (click)="handleDeleteAllQuestions()">Șterge toate întrebările</button>
        </div>
    </div>
</div>

